*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/2ID90/assignment1/AICompetition/nbproject/private/
/2ID90/assignment1/DraughtsPlugin/nbproject/private/
/2ID90/assignment1/AICompetition/build/
/2ID90/assignment1/AICompetition/dist/
/2ID90/assignment1/DraughtsPlugin/build/
/2ID90/assignment1/DraughtsPlugin/dist/
/2ID90/assignment1/2ID90-DraughtsPlugin2/nbproject/private/
/2ID90/assignment1/2ID90-DraughtsPlugin2/build/
/2ID90/assignment1/2ID90-DraughtsPlugin2/dist/